<!--<ion-item [hidden]="item.checked === false">-->
  <!--  <ion-checkbox slot="start" [(ngModel)]="item.checked" ></ion-checkbox>-->
  <ion-card [hidden]="item.checked === false">

    <ion-card-header>
      <ion-card-title>
        <h1><ion-icon name="bag-handle-outline" color="primary"></ion-icon>     {{item.title}}</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="primary"><h2>{{item.type}}</h2></ion-label>
      <ion-label color="primary"><h3>{{item.text}}</h3></ion-label>

    </ion-card-content>
  </ion-card>

<!--  <div><ion-label color="secondary">{{item.title}}</ion-label></div>-->
<!--  <div><ion-label color="primary">{{item.type}}</ion-label></div>-->
<!--  <div><ion-label color="primary">{{item.text}}</ion-label></div>-->
<!--</ion-item>-->
