<ion-app>

  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Shoppy
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-menu-toggle>
        <ion-list lines="none">
          <ion-item routerLink="/home">
            <ion-icon name="home-outline" slot="start" ></ion-icon>
            <ion-label> Welcome page </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label> Your profile </ion-label>
          </ion-item>
          <ion-item routerLink="/list-to">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label> Your shop list </ion-label>
          </ion-item>
          <ion-item routerLink="/done">
            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label> Already did it? </ion-label>
          </ion-item>
          <ion-item (click)="onLogOut()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label> Log out </ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>



</ion-app>
