<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-buttons>
        <ion-button routerLink="/user-profile"><ion-icon name="person-circle-outline" color="primary"></ion-icon></ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title >
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <ion-label color="light">Ready to create your shopping list?<br></ion-label>
    <ion-label routerLink="/list-to" color="primary"><strong>Go!</strong></ion-label>
  </div>
  <ion-img src="assets/img/narandz.png"></ion-img>

</ion-content>
